
body{
    margin-left: 40px;
    margin-right: 40px;
    background-color:linen;
    color:green;
   

}
h3{
    text-align: center;
    color: darkred;
}
hr{
   
    height: 5px;
    border:solid grey;
    background-color: grey;

}
span{
    color:blue;
    font-size: 20px;
}

